nav {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: auto;
    padding: 30px 80px 30px 80px;

    justify-content: space-between;
    box-sizing: border-box
}

nav .left {
    display: flex;
    justify-content: space-around;


}

nav .left .navItem {
    padding-left: 80px;
    margin-top: -10px;

}

.navItem ul {
    display: flex;
    list-style: none;
    gap: 20px
}

.navItem ul li a {
    text-decoration: none;
    color: black;
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 17.64px;
    text-align: left;

}

nav .right {
    display: flex;
    gap: 20px;
}

nav .right button {
    border-radius: 50px 50px 50px 50px;
    padding: 10px 20px 10px 20px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    text-align: left;

}

nav .right .notification {
    padding: 13px 16px 13px 16px;
    gap: 32px;
    border-radius: 50px 50px 50px 50px;
    opacity: 0px;
    background-color: black;
    color: white;
}

/*************** First Hero***********/
.firsthero {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.firsthero .left {
    width: 50%;

}



.firsthero .left .main {
    font-family: Plus Jakarta Sans;
    font-size: 72px;
    font-weight: 600;
    line-height: 79.2px;
    letter-spacing: -0.03em;
    text-align: left;

}

.firsthero .left .subcontent {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    width: 87%;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    margin-top: -40px;
    color: #878C91;
    ;

}

.firsthero .left button {
    padding: 16px 32px 16px 32px;
    border-radius: 70px;
    color: white;
    background-color: black;
    margin-top: 10px;
}

.firsthero .right {
    box-sizing: border-box;
    width: 50%;
}

.firsthero .right .upperRight {
    display: flex;

    justify-content: space-evenly;

}

.firsthero .right .left .rectangle {
    width: 303px;
    height: 275px;
    margin-top: 120px;

    left: 790px;
    gap: 0px;
    border-radius: 1000px 20px 20px 20px;
    opacity: 0px;
    background-color: #c0c4c9;

}

.firsthero .right .left .circle {
    position: absolute;
    border-radius: 50%;
    width: 108px;
    height: 108px;
    margin-left: -179px;
    margin-top: -310px;
    left: 945px;
    gap: 0px;
    opacity: 0px;
    background-color: rgb(22, 23, 23);
}

.firsthero .right .upperRight .Right {
    width: 259px;
    height: 281px;
    margin-left: 50px;
    margin-top: 120px;
    opacity: 0px;
    background-color: #F0F0F0;


}

.firsthero .right .lowerRight {
    height: 156px;
    background-color: rgb(15, 16, 15);
    display: flex;
    color: white;
    justify-content: space-evenly;
}

/*************secondHero page*******************/
.secondhero {
    height: auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
}

.secondhero .upper {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    height: 130px;
    padding-bottom: 30px;
}

.secondhero .lower {
    display: flex;
    justify-content: space-around;
}

.secondhero .lower .left {
    width: 30%;
    height: 250px;
    background-color: black;
    border-radius: 20px;
}

.secondhero .lower .right {
    width: 60%;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(224, 217, 217);
}

/****************Third Hero**************/
.thirdhero {
    margin-left: 20px;
    margin-right: 20px;
    width: cal(100%, -40px);
    box-sizing: border-box;
    height: auto;
    margin-top: 26px;
    border-radius: 30px;
    padding-bottom: 50px;
    opacity: 0px;
    background-color: #020609;
    ;
}

.thirdhero .upper p {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: -0.03em;
    text-align: center;
    width: 90%;
    height: auto;
    color: white;
    padding: 50px;
}

.thirdhero .upper div {
    margin-left: 200px;
    margin-top: -50px;
    display: flex;
}

.thirdhero .upper div button {
    padding: 13px 26px 13px 26px;
    gap: 32px;
    border-radius: 70px;
    opacity: 0px;
    margin-left: 40px;
    background-color: black;
    color: white;
    border: 1px solid #FFFFFF;
}

.thirdhero .lower {
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px
}

.thirdhero .lower .circle {
    width: 32%;
    height: 400px;
    gap: 0px;
    border-radius: 50%;
    border: 11px;
    background-color: #C3C3C3;
}

.thirdhero .lower .circle .center {
    width: 40%;
    height: 153px;
    margin-top: 119px;
    margin-left: 119px;
    gap: 0px;
    border-radius: 1031.65px;
    opacity: 0px;
    background-color: #99EA48;
}

.thirdhero .lower .rectangle1 {
    width: 30%;
    height: 400px;
    gap: 0px;
    border-radius: 20%;
    border: 11px;
    background-color: #C3C3C3;
}

.thirdhero .lower .rectangle {
    width: 30%;
    height: 400px;
    gap: 0px;
    border-radius: 20%;
    border: 11px;
    background-color: #C3C3C3;
    ;
}

.thirdhero .lower .rectangle .upper {
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.42px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
    margin-left: 20px;

}

.thirdhero .lower .rectangle .lower {
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 33.6px;
    margin-top: 270px;
    margin-left: -60px;
    color: white;

}

/**********fourthhero**********/
.fourthhero {
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-color: #FAFAFA;

}

.fourthhero p {
    font-family: Plus Jakarta Sans;
    width: 99%;
    font-size: 36px;
    font-weight: 600;
    line-height: 57.6px;
    margin-top: 60px;
    text-align: left;
}

.fourthhero .lower {
    display: flex;
    justify-content: space-between;

}

.fourthhero .lower .left {
    display: flex;


}

.fourthhero .lower .right {
    display: flex;
    justify-content: space-around;

}

/*********** FifthHero************/
.fifthhero {
    width: 100%;
    height: auto;
    padding: 66px 80px 66px 80px;
    gap: 90px;
    border-radius: 28px 0px 0px 0px;
    opacity: 0px;
    background-color: white;
    box-sizing: border-box;
    
}
.fifthhero .fAQ{
    display: flex;
    justify-content: space-around;
}
.fifthhero .fAQ .left{
    width: 43%;
}

.fifthhero .left header {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: -0.03em;
    text-align: left;
}

.fifthhero .left p {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;


}
.fifthhero .left .lower {
    display: flex;
    gap:20px;
}
.fifthhero .right{
width: 50%;
margin-top: 30px;
margin-left: 30px;
box-sizing: border-box;

}
.fifthhero .right table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 20px;
}
.fifthhero .right table .question{
    width: 90%;
    font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.03em;
text-align: left;

}
.fifthhero .right table td{
 border-top: 1px solid black;
border-bottom: 1px solid black;
padding: 8px;
text-align: left;
}
/************* sixth hero****************/
.sixthhero{
    width: 100%;
    height: auto;
    padding: 30px 80px 30px 80px;
    background-color: #FAFAFA;
    box-sizing: border-box;
}
.sixthhero .upper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/******** footer************/
.footer{
    height: auto;
    background-color: #FAFAFA;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom:30px;
}
.footer .boostim p{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #9B9B9C;

}
.footer .boostim .icon span{
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer div .footermenu{
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.09px;
            letter-spacing: -0.01em;
            text-align: left;
}
.footer div ul {
    list-style-type: none;
    margin-left: -39px;
}
.navigation{
    width: 10%;
}
.license{
    width: 10%;
}
.contact{
    width: 15%;
}
.footer div ul li{
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 25.41px;
letter-spacing: -0.02em;
text-align: left;
color: #9b9b9c;
}
.footer div ul li span{
    color: black;
    font-size: 19px;
}